{# <header id="KGlobalHeader" class="header clearfix">
      <h1 class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>

      <ul class="nav">
      {%- for entry in collections.all | eleventyNavigation %}
        <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
      {%- endfor %}
      </ul>
</header> #}

<header id="KGlobalHeader" class="header clearfix">
  <nav class="navbar navbar-expand-lg {% if site.made_by_kde %}
   with-made-by-kde {% endif %}">
    {% if site.use_kde_logo %}
        <a class="kde-logo navbar-brand active" href="/"></a>
    {% else %}
        <a class="app-logo navbar-brand active" href="/">
            <img src="{% if site.app_icon %}{{ site.app_icon | url }}{% else %}{{ '/assets/img/app_icon.png' | url }}{% endif %}" alt="Logo" />
        </a>
    {% endif %}

{# Aqui fica a parte do menu #}

 {% if site.navigation.top | length > 0 %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-kde" aria-controls="navbar-kde" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-kde">
      <ul class="navbar-nav mr-auto">

        {% if not site.hide_title_nav %}
        <li class="nav-item">
          <a class="nav-link {% if page.url == '/' %}active{% endif %}"
             href="{{ '/' | url }}" aria-haspopup="true"
             aria-expanded="false">
              {{ renderData.title or title or metadata.title }}
          </a>
        </li>
        {% endif %}
        
        {% if site.navigation.top | length > 0%}
          {% set sorted = site.navigation.top %}
        {% else %}
          {% set sorted = entry in collections.all | eleventyNavigation %}
        {% endif %}
        {% for nav in sorted %}
          {% if nav.subnav %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle {% if entry.url == page.url %}active{% endif %}" href="#" id="navbar{{nav.title|slug}}"
               role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ nav.title }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbar{{nav.title|slug}}">
              {% for subnav in nav.subnav %}
                <a class="dropdown-item" href="{{ subnav.url }}">{{ subnav.title }}</a>
              {% endfor %}
            </div>
          </li>
          {% elif nav.components %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbar{{nav.title|slug}}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ nav.title }}
            </a>
            <div class="dropdown-menu component-selector" aria-labelledby="navbar{{nav.title|slug}}">
              <div class="nav-menu-apps">
              {% for component in nav.components %}
                <a href="{{ component.url }}" style="background-image: url({{component.background}})" {% if component.large %} class="component-large" {% endif %}>{{ component.title }}</a>
              {% endfor %}            
              </div>
            </div>
          </li>
          {% elif nav.title and (nav.title != "Changelog" or (site.changelogs | size) != 0) %}
            {% set checkActive = page.url  %}
            <li class="nav-item">
              <a class="nav-link {% if page.menu-active == nav.title or page.url == nav.url or checkActive[0] == blank and page.url != "/" %}active{% endif %}" href="{{ nav.url }}">{{ nav.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div> 
    {% endif %}

{# Fim do menu#}

    {% if site.made_by_kde %}
    <a class="made-by-kde{% if site.navigation.top %} ml-auto{% endif %}" href="https://kde.org">
      {{site.kde_copyrigth}}
    </a>
    {% endif %}
   </nav>
</header>