<div class="announcement-feed mb-3">
{% for post in postslist | reverse %}
<div class="mb-4">
        <h3>{{ post.data.title }}<small class="float-right">{{ post.date | readableDate }}</small></h3>
        <q> {{post.templateContent | safe | truncate(150) | safe }}</q>
        <a href="{{ post.url |url}}" class="learn-more">Read full announcement</a>
</div>
{% endfor %}
</div>
