---
layout: layouts/home.njk
permalink: /
eleventyNavigation:
  key: Home
  order: 1
---

<section id="kHeader" class="carousel">
    <div class="carousel-item active">
        <div class="carousel-item-content pl-4 pr-4">
            <div class="slide-background" style="background-image: url(/assets/img/screenshot.png)"></div>
            <div class="carousel-text-overlay">
                <h1>Konsole</h1>
                <p>A powerful and customizable terminal emulator.</p>
            </div>
        </div>
    </div>
</section>

<div aria-label="Content" id="content" class="container">
  <h1>{{ metadata.title }}</h1>

  <div class="announcement-feed mb-3">
    <h2>{% if site.announcements %}{{site.announcements}}{% else %}Announcements{% endif %}</h2>
    {% for post in collections.posts | head(-3) | reverse %}
    <div class="mb-4">
      <h3>{{ post.data.title }}<small class="float-right">{{ post.date | readableDate }}</small></h3>
      <p> {{post.templateContent | safe | truncate(170) | safe }}</p>
      <a href="{{ post.url |url}}" class="learn-more">Read full announcement</a>
    </div>
    {% endfor %}
  </div>

  <div class="pagination justify-content-center mt-3">
    <a class="ml-1 mr-1" href="/posts/page-1">All Anouncemmets</a>
  </div>
</div>