---
layout: layouts/home.njk
pagination:
  data: collections.posts
  size: 5
  reverse: true
  alias: myposts
testdata:
  - Item1
  - Item2
permalink: "posts/page-{{ pagination.pageNumber + 1 }}/"
---

<div aria-label="Content" id="content" class="container">
  <h1>{{ metadata.title }}</h1>

  <div class="announcement-feed mb-3">
    <h2>{% if site.announcements %}{{site.announcements}}{% else %}Announcements{% endif %}</h2>
    {% for post in myposts  %}
    <div class="mb-4">
      <h3>{{ post.data.title }}<small class="float-right">{{ post.date | readableDate }}</small></h3>
      <p> {{post.templateContent | safe | truncate(170) | safe }}</p>
      <a href="{{ post.url |url}}" class="learn-more">Read full announcement</a>
    </div>
    {% endfor %}

    <div class="pagination justify-content-center mt-3">
    {% if pagination.href.previous%}
      <a class="ml-1 mr-1" href="{{pagination.href.previous | url}}">&laquo;{% if site.prev %}{{site.prev}}{% else %}Prev{% endif %}</a>
    {% else %}
      <span>&laquo; {% if site.prev %}{{site.prev}}{% else %}Prev{% endif %}</span>  
    {%endif%}
    <span><p> &nbsp; </p></span>
    {% if pagination.href.next %}
      <a class="ml-1 mr-1" href="{{pagination.href.next | url}}">{% if site.next %}{{site.next}}{% else %}Next{% endif %} &raquo;</a>
    {% else %}
      <span>{% if site.next %}{{site.next}}{% else %}Next{% endif %} &raquo;</span>
    {% endif %}
    </div>

    {% for xin in pagination.hrefs%} 
      {{xin.first}}
    {% endfor%}

  </div>

</div>
