<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ renderData.title or title or metadata.title }}</title>
  <meta name="Description" content="{{ renderData.description or description or metadata.description }}">

  <link href="{{ '/assets/aether/media/192x192.png' | url }}" rel="icon" sizes="192x192" />
  <link href="{{ '/assets/aether/media/180x180.png' | url }}" rel="apple-touch-icon" sizes="180x180" />
  <link href="{{ '/assets/aether/media/128x128.svg' | url }}" rel="icon" sizes="128x128" />
  <link href="{{ '/assets/aether/media/64x64.svg' | url }}" rel="icon" sizes="64x64" />
  <link href="{{ '/assets/aether/media/32x32.svg' | url }}" rel="icon" sizes="32x32" />
  <link href="{{ '/assets/aether/media/24x24.svg' | url }}" rel="icon" sizes="24x24" />
  <link href="{{ '/assets/aether/media/16x16.svg' | url }}" rel="icon" sizes="16x16" />

  <link rel="stylesheet" href="https://cdn.kde.org/aether-devel/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.kde.org/aether-devel/aether-kde-org.css">

  <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
  <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  <script src="https://cdn.kde.org/aether-devel/bootstrap.js" defer=""></script>
</head>

<body data-spy="scroll" data-target="#kHeaderCarousel" data-offset="50">
  {% include "components/header.njk" %}

  <main{% if templateClass %} class="{{ templateClass }}" {% endif %}>
    {{ content | safe }} 
  </main>

  {% include "components/footer.njk" %}
</body>

</html>
